.npmrc
*.js
*.js.map
*.log
!.cz-config.js
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
demo/.migration_backup
node_modules
demo/app/main-page.d.ts
demo/app/main-view-model.d.ts
demo/app/app.d.ts
